{
  "presets": [["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "3" }], "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app", "./core"],
        "extensions": [".js", ".jsx", ".scss"],
        "alias": {
          ".+": ["./app/\\0", "./core/\\0"]
        }
      }
    ],
  ]
}
