@mixin pulse($radius) {
  @keyframes pulse-#{$radius} {
    to {
      box-shadow: 0 0 0 #{$radius}px transparent;
    }
  }
}

@mixin expander($line, $lineHeight: 1.3) {
  -webkit-box-orient: vertical;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scroll-nice($width: 4px, $height: 6px) {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: transparentize($black, 0.7);
    }
  }
  /* width */
  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $gray;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $dark-gray;
  }
}
