@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=vietnamese');

/** FONT - START */
$font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
%TITLE {
  font-size: 24px;
  font-weight: bold;
}
%HEADING {
  font-size: 20px;
  font-weight: bold;
}
%TEXT {
  font-size: 16px;
}

/** -- NON SEMANTIC FONTSIZE -- */
$fz-xxl: 24px;
$fz-xl: 20px;
$fz-lg: 16px;
$fz-sm: 14px;
$fz-xs: 12px;
$fz-xxs: 8px;
/** FONT - END */

/** COLOR - START */
$red: #f7001e;
$light-red: #ffe0e0;
$blue: #0897ee;
$dark-blue: #0b78bb;
$green: #7ed321;
$orange: #f5a623;
$purple: #a975d4;
$white: #fff;
$ash-gray: #f6f6f6;
$light-gray: #ebebeb;
$gray: #cbcbcb;
$dark-gray: #9c9c9c;
$black: #333;
$color-list: (
  'red' $red,
  'light-red' $light-red,
  'blue' $blue,
  'dark-blue' $dark-blue,
  'green' $green,
  'orange' $orange,
  'purple' $purple,
  'white' $white,
  'ash-gray' $ash-gray,
  'light-gray' $light-gray,
  'gray' $gray,
  'dark-gray' $dark-gray,
  'black' $black,
);
$facebook: #3e6ec0;
$yellow-light: rgba(255, 255, 172, 0.3);
$text-bg-gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 50%, transparent);
$bg-popup: rgba(0, 0, 0, 0.3);
/** COLOR - END */

/** HELPER - START */

%layer-toaa {
  z-index: 10000 !important;
}
%layer-lv4 {
  z-index: 4000 !important;
}
%layer-lv3 {
  z-index: 3000 !important;
}
%layer-lv2 {
  z-index: 2000 !important;
}
%layer-lv1 {
  z-index: 1000 !important;
}

$shadow-low: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
$shadow-hi: 0 -2px 4px 0 rgba(0, 0, 0, 0.07);

/** HELPER - END */
